<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-check fa-6x"></i>
    <h1 class="display-3">Пользователь <%= username %> успешно добавлен!</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Создать ещё пользователя</a>
    <a class="btn btn-light btn-lg" href="/devices" role="button">Вернуться в личный кабинет</a>
  </div>
</div>

<%- include('partials/footer') %>
