<%- include('partials/header') %>


    <div class="jumbotron text-center">
      <div class="container">
    <i class="fas fa-check fa-6x"></i>
    <h1 class="display-4">Device was successfully deleted:</h1>
    <hr>

          <%- include('partials/shortenedTable', { devices: [device] }) %>

          <div class="my-4">
              <a class="btn btn-light btn-lg" href="/devices" role="button">Back to console</a>
          </div>
  </div>
</div>

<%- include('partials/footer') %>
