<%- include('partials/header') %>


<div class="jumbotron centered">
    <div class="container">
        <i class="fas fa-exclamation-triangle fa-6x"></i>
        <h1 class="display-3">Error</h1>
        <p class="lead"><%= errorText %></p>
        <hr>
    </div>

    <%- include('partials/extendedTable', { devices: deviceArr }) %>

    <div class="my-4">
        <a class="btn btn-dark btn-lg" href="/devices" role="button">Try again</a>
    </div>

</div>

<%- include('partials/footer') %>