<%- include('partials/header') %>
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-check fa-6x"></i>
        <h1 class="display-4">Devices were successfully edited:</h1>
        <hr>
    </div>

    <%- include('partials/extendedTable', { devices: deviceArr }) %>

    <div class="my-4">
        <a class="btn btn-light btn-lg" href="/devices" role="button">Back to console</a>
    </div>
</div>

<%- include('partials/footer') %>
