<%- include('partials/header') %>

<a class="btn btn-outline-dark btn-lg m-2" href="/devices" role="button">Назад</a>

<div class="container">
    <div class="jumbotron text-center my-0 py-3">
        <i class="fa fa-sliders fa-6x"></i>
        <h1 class="display-4 mb-3">Добавьте тип устройств</h1>
        <h4>Введите название нового типа, а также его возможные модификации</h4>
    </div>

    <form action="/add-type" method="POST" id="add-type-form">
        <div class="row mt-4 mx-5">
            <div class="col-md-6">
                <label for="typeName">Название типа</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-microchip"></i></div>
                    </div>
                    <input type="text" required name="typeName" id="typeName" class="form-control" placeholder="Laurel">
                </div>
            </div>
            <div class="col-md-6">
                <label for="typeHash">Расчёт ключа активации</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-key"></i></div>
                    </div>
                    <select required class="custom-select" name="typeHash" id="typeHash">
                        <option selected value="none">Отсутствует</option>
                        <option value="crc16">CRC16</option>
                    </select>
                </div>
            </div>
        </div>

        <ul id="propsList" class="px-0">
        </ul>

        <div class="row mb-5">
            <div class="col-md-6 text-center mt-2">
                <button type="button" class="btn btn-dark btn-lg" id="addMoreProps">Прикрепить свойство</button>
            </div>
            <div class="col-md-6 text-center mt-2">
                <button type="button" class="btn btn-danger btn-lg" id="deleteProp">Удалить свойство</button>
            </div>
        </div>


        <div class="row mb-5">
            <button type="submit" class="btn btn-dark btn-lg">Добавить новый тип</button>
        </div>

    </form>
</div>


<script src="/static/scripts/add-type.js" defer></script>
<%- include('partials/footer') %>

